<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&family=Inter:wght@100&family=Lato&family=Lexend:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="loginn.css">
    <script src="https://kit.fontawesome.com/1bf10dbabf.js" crossorigin="anonymous"></script>
    <title>Login Page</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <nav class="navbar">
                <div class="logo-container">
                    <img src="./logos.png" class="logo" alt="logo">
                </div>
                <ul class="link-container">
                    <li class="link home"><a href="">Home</a></li>
                    <li class="link"><a href="">About Us</a></li>
                    <li class="link"><a href="">Help & Support</a></li>
                    <li class="link"><a href="">Blog</a></li>
                    <li class="link"><a href="">Contact Us</a></li>
                </ul>
                <div class="nav-button">
                
                    <button class="register-btn">Register</button>
                
                </div>
                </nav>
                </div>
                <main>
                    <div class="main">
                        <div class="login-image">
                            <img src="./cuate.png" alt="image">
                        </div>
                       
                        </div>
                        <div class="form">
                        <form action="" class="login-form">
                             <div class="login-texts">
                        <h3 class="login-header">Welcome,</h3>
                        <p class="login-text">It's nice to see you again!!!</p>
                        </div>
                            <div class="email-box">
                                <label for="email" class="email">Email address</label>
                                <input type="email" class="email-input" placeholder="johndoe@example.com">
                            </div>
                            <div class="password-box">
                                <label for="password" class="passwd">Password</label>
                                <input type="password" class="passwd-input" placeholder="..............">
                                <i class="fa-solid fa-eye-slash"></i>
                            </div>
                            <div class="remember">
                                <div class="checked"> <input type="checkbox" class="check">
                                    <p class="rem">Remember me</p>
                                </div>
                                <p class="forgot">Forgot Password?</p>
                            </div>
                            <div class="submit">
                                <input type="submit" value="Log In" class="submit-btn">
                            </div>
                            <div class="new-account">
                                <p class="user">New user? <span class="create">Create an account</span></p>
                            </div>
                        </form>
                        </div>
                        </main>
                </div>
                </div>
                </body>
                </html>