<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&family=Inter:wght@100&family=Lato&family=Lexend:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script
      src="https://kit.fontawesome.com/1bf10dbabf.js"
      crossorigin="anonymous"
    ></script>
    <title>Login Page</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav class="navbar">
          <div class="logo-container">
            <img src="./logo.jpg" class="logo" alt="logo" />
            <p class="logo-name">exc<span class="logo-col">comp</span></p>
          </div>
          <ul class="link-container">
            <li class="link home"><a href="">Home</a></li>
            <li class="link"><a href="">About Us</a></li>
            <li class="link"><a href="">Help & Support</a></li>
            <li class="link"><a href="">Blog</a></li>
            <li class="link"><a href="">Contact Us</a></li>
          </ul>
          <div class="nav-button">
            <button class="login-btn">Log in</button>
            <button class="register-btn">Register</button>
            <button class="bars"><i class="fa-solid fa-bars"></i></button>
          </div>
        </nav>
      </div>
      <div class="nav">
        <div class="nav-header">
          <div class="empty"></div>
          <button class="toggle"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <ul class="linkss">
          <li class="links homee"><a href="">Home</a></li>
          <li class="links"><a href="">About Us</a></li>
          <li class="links"><a href="">Help & Support</a></li>
          <li class="links"><a href="">Blog</a></li>
          <li class="links"><a href="">Contact Us</a></li>
        </ul>
        <div class="logo-contain">
          <div class="logos">
            <img src="./navlogo.jpg" class="log" alt="logo" />
            <p class="logo-nam">exc<span class="logo-colo">comp</span></p>
          </div>
          <p class="copyright">
            Copyright &copy; 2022 Zuri All Rights Reserved
          </p>
        </div>
      </div>
      <main>
        <div class="main">
          <div class="login-image">
            <img src="./cuate.jpg" alt="image" />
          </div>
          <div class="login-contain">
            <div class="login-content">
              <div class="buttons">
                <button class="login-button">Login</button>
                <button class="register-button">Register</button>
              </div>
              <h3>Welcome back!</h3>
              <div class="email-box">
                <label for="email" class="email">Email address</label>
                <input
                  type="email"
                  class="email"
                  placeholder="johndoe@example.com"
                />
              </div>
              <div class="password-box">
                <label for="password" class="passwd">Password</label>
                <input
                  type="password"
                  class="passwd"
                  placeholder=".............."
                />
                <i class="fa-solid fa-eye-slash"></i>
              </div>
              <div class="remember">
                <div class="checked">
                  <input type="checkbox" class="check" />
                  <p class="rem">Remember me</p>
                </div>
                <p class="forgot">Forgot Password?</p>
              </div>
              <div class="submit">
                <input type="submit" value="Login" class="submit-btn" />
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      const nav = document.querySelector(".nav");
      const bar = document.querySelector(".bars");
      const hide = document.querySelector(".toggle");
      const container = document.querySelector(".container");

      bar.addEventListener("click", function () {
        nav.classList.add("show-link");
        container.classList.add("blur");
      });
      hide.addEventListener("click", function () {
        nav.classList.remove("show-link");
        container.classList.remove("blur");
      });
    </script>
  </body>
</html>
