*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Lato', sans-serif;
    
}
/* removing the default href decoration */
a{
    text-decoration: none;
}

/* style for the site-wrapper/webpage container */
#site-wrapper{
    max-width: 100vw;
    height: 1520px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* style for the header tag: logo, nav and sign up, login buttons*/
#header{
    height: 88px;
    background: #D3EAED;
    padding: 20px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo-name{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;

}
.nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.nav .nav-part-1{
    width: 77%;
    display: flex;
    justify-content: space-evenly;
}
.nav-part-1 li a{
    color: #2594A3;
}
.nav-part-1 li a:hover{
    border-bottom: 2px solid;
}
.nav-part-1 li a:active{
    border-bottom: 2px solid;
}
.nav .nav-part-2{
    width: 23%;
    display: flex;
    justify-content: space-evenly;
}
.register-button{
    padding: 10px 20px;
    margin-top: -10px;
    background-color: #19636D;
    border: 1px solid #19636D;
    border-radius: 4px;
    color: white;
}
.register-button:hover{
    background-color: unset;
    color: #19636D;
}
.login-button{
    padding: 10px 20px;
    margin-top: -10px;
    background-color: unset;
    border: 1px solid #19636D;
    border-radius: 4px;
    color: #19636D;
}
.login-button:hover{
    background-color: #19636D;
    color: white;
}

/* style for the main section */
.main-section{
    height: 744px;
    width: 90%;
    margin: 88px auto;
    display: flex;
}

/* style for the box for input fields, messages and company message info */
.addressee-addresser-info{
    height: 744px;
    width: 95%;
    border: 1px solid #49A6B2;
    display: flex;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #49A6B2;
}
.addressee-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 0 5%;
}
.addressee-info input{
    padding: 2% 5%;
    border: 1px solid silver;
    border-radius: 4px;
    margin-top: 1%;
}
.addressee-info textarea{
    padding: 2% 5%;
    border: 1px solid silver;
    border-radius: 4px;
    margin-top: 1%;
}
.addressee-info button{
    padding: 3% 5%;
    border: 1px solid silver;
    border-radius: 4px;
    background: #19636D;
    font-weight: bold;
    color: white;

}
.addresser-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addresser-info p{
    margin-top: 5%;
}
.contactus-img{
    width: 20px;
    height: 20px;
}

/* style for the socail media handles of the company */
.social-media-side-bar{
    height: 250px;
    width: 6%;
    background-color: #19636D;
    border-radius: 0px 0px 50px 0px;
    align-self: flex-end;
    margin-bottom: 5%;
}
.social-media-side-bar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.social-media-images-fb{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.social-media-images{
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* style for the newsletter-subscription section */
.newsletter-section{
    height: 113px;
    margin: 0 auto;
    background-color: #D3EAED;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #64656A;
}
.news-form-area{
    width: 40%;
    height: 50%;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.news-form-area a{
    margin-left: 3%;

}
.news-form-area input{
    padding: 3% 9%;
    border: none;
    border-radius: 4px;
    background: white;
    font-weight: bold;
    color: silver;

}
.news-form-area button{
    padding: 3% 10%;
    margin-right: 0.5%;
    border: 1px solid silver;
    border-radius: 4px;
    background: #19636D;
    font-weight: bold;
    color: white;

}

/* style for the main-footer of the webpage that displays contact info/connections of the comapany in details */
.site-info-section{
    height: 355px;
    margin: 0 auto;
    background-color: #19636D;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.site-info-section-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}
.site-info-section-1 ul{
    margin-top: 5%;
    display: flex;
}
.site-info-section-1 ul li{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px dashed white;
    margin-right: 10px;
}
.info-images{
    margin: 25%;
    width: 30px;
    height: 30px;
}
.info-images-fb{
    margin: 15%;
    width: 40px;
    height: 40px;
}
.site-info-section-2{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 0px;
}
.site-info-section-3{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 0px;
}
.site-info-section-4{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 0px;
}
.site-info-section-5{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 0px;
}

/* style for the copyright builder of the site */
.footer{
    height: 56px;
    color: #19636D;
    display: flex;
    align-items: center;
    justify-content: center;
}