:root {
    --header-bg: #D3EAED;
    --primary-40: #49A6B2;
    --primary-50: var(--primary-60);
    --primary-60: #19636D;
    --secondary-50: #E8E7CD;
    --white: #fff;
    --greys-20: #E0E0E1;
    --greys-50: #64656A;
    --copy: #F9F9F3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;}

body{
    height: 1534px;
    max-width: 100vw;
}
/* Header Styles and Button */
header {
    height: 5.7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-bg);
    /* padding: 16px 0; */
    /* margin-top: -20px; */
}

header nav ul {
    display: flex;
    gap: 40px;
}

header a {
    text-decoration: none;
    color: unset;
}

header li a {
    color: var(--primary-50);
}

button {
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.filled-bg-btn {
    background-color: var(--primary-50);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 4px;
}

.outlined-btn {
    border: 1px solid var(--primary-50);
    background-color: var(--header-bg);
    color: var(--primary-50);
    padding: 9px 20px;
    border-radius: 4px;
}


/* style for the main section */
main{
    height: 90%;
}
.main-section{
    height: 66%;
    width: 87%;
    margin: 0 auto;
    background: url(bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style for the box for input fields, messages and company message info */
.addressee-addresser-info{
    height: 83%;
    width: 90%;
    border: 1px solid #7e7f83;
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 4px 8px #92CAD1;
    background-color: #FFFFFF;
}
.addressee-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    align-items: left;
    padding: 5% 1%;
    margin-left: 5%;
}
.addressee-info p{
    margin-bottom: 4%;
}
.addressee-info input{
    padding: 2% 3%;
    width: 90%;
    border: 1px solid #E0E0E1;
    border-radius: 6px;
    margin-top: 1%;
    margin-bottom: 3%;
}
.addressee-info textarea{
    padding: 2% 3%;
    width: 90%;
    border: 1px solid silver;
    border-radius: 4px;
    margin-top: 1%;
}
.addressee-info button{
    padding: 16px 32px;
    width: 90%;
    border: 1px solid silver;
    border-radius: 4px;
    background: #2594A3;
    font-weight: bold;
    color: white;

}
.addresser-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    align-items: left;
    margin-left: 5%;
}
.addresser-info img{
    height: 45%;
    margin-bottom: 4%;
    padding-right: 7%;
}

/* style for the newsletter-subscription section */
.newsletter-section{
    height: 8.1%;
    margin: 0 auto;
    background-color: #D3EAED;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #64656A;
}
.news-form-area{
    width: 45%;
    height: 50%;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-input{
    margin-left: 2%;
    width: 50%;
    display: flex;
    align-items: center;
}
.search-input a{
    margin-right: 5%;

}
.search-input input{
    padding: 3% 2%;
    width: 80%;
    border: none;
    border-radius: 4px;
    background: white;
    font-weight: bold;
    color: silver;

}
.news-form-area button{
    width: 30%;
    height: 90%;
    margin-right: 0.5%;
    border: 1px solid #B2B2B5;
    border-radius: 4px;
    background: #19636D;
    font-weight: bold;
    color: white;
}
/* style for the main-footer of the webpage that displays contact info/connections of the company in details */
.footer-main {
    height: 26%;
    display: flex;
    background-color: var(--primary-60);
    color: var(--greys-20);
    padding: 64px 0;
    justify-content: space-around;
}

.socials {
    display: flex;
    gap: 20px;
    list-style: none;
}

.footer-flex {
    display: flex;
    gap: 64px;
}

.footer-flex h4 {padding-bottom: 20px;}

.footer-flex li {
    list-style: none;
    font-weight: 300;
    padding-bottom: 20px;
}

/* style for the copyright builder of the site */
footer{
    text-align: center;
    background-color: var(--copy);
    color: var(--primary-40);
    padding: 16px 0;
}