* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;}

:root {
    --header-bg: #D3EAED;
    --primary-40: #49A6B2;
    --primary-60: #19636D;
    --secondary-50: #E8E7CD;
    --white: #fff;
    --greys-20: #E0E0E1;
    --greys-50: #64656A;
    --copy: #F9F9F3;
}

/* Header Styles and Button */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-bg);
    padding: 16px 0;
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: unset;
}

header li a {
    color: var(--primary-50);
}

button {
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.filled-bg-btn {
    background-color: var(--primary-50);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 4px;
}

.outlined-btn {
    border: 1px solid var(--primary-50);
    background-color: var(--header-bg);
    color: var(--primary-50);
    padding: 9px 20px;
    border-radius: 4px;
}


/* Main Content */
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:auto;
    padding:2em;
    background-color: rgb(0,109,91);
    height:100vh;
    padding-bottom: 4em;
}
main p{
    padding-bottom: 2em;
}
main button{
    background-color: white
}
main button{
    color:#19636D;
    border:none;
    padding: 10px 10px;
    text-align:center
}
    
#sponsors {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:0.2px solid var(--greys-20);
    border-radius: 8px;
    width: 80%;
    height:25px;
    margin-top: 12px;
    margin-right:auto;
    margin-left: auto;
}

.section-a{
    margin:auto;

}
.section-a h2{ 
    text-align:center;
    color: #2594A3;
    justify-content: center;
    padding-top:80px;
    
    
}
.section-a p {
    text-align: center;
    color:#E8E7CD;
    padding-top: 10px;
    padding-bottom: 20px;
}
.a-container{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 20px;
    margin-top:50x;
    margin-right:20px;
    margin-left:170px;
}
.art-flex p{
width: 50%;
}
.article-art-1{
    padding-top:10px;
}
.article-art-1 button{
margin-left:50px;
}
.article-art-2{
    padding-top: 200px;
}
.article-art-2 button{
    margin-left:54px;
}
.article-art-3{
    padding-top:100px;
}
.article-art-3 button{
    margin-left: 50px;
}
.article-art-4{
    padding-top:100px;
}
.article-art-4 button{
    margin-left: 50px;
}


section h2{
    text-align:center;
    padding-top: 100px;
    padding-bottom: 7px;
    color:#19636D;
}
section video{
    display: block;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
section button{
    background-color: var(--primary-50);
    color:white;
    padding: 10px 20px;
    border-radius: 4px;
    display: block;
    margin:auto;
    
    
}
.learn-more{
    border: 1px solid #19636D;;
    background-color: white;
    color: #19636D;
    border-radius: 4px;
    align-items: center;
    padding-top: 2px;
    padding: 10px 10px;
}

/* Testimonial style */
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
.testimonials h2 {
    text-align: center;
    color:#19636D;
    }
    .testimonials p {
        text-align:center;
    }
    .cards{
        display: flex;
        color:#19636D;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        margin-top:5px;
        margin-right: 5px;
        margin-left: 5px;
         width: 100%;
    }
    .card{
        padding: 6px;
        border: 1px solid #E8E7CD;;
        border-radius:8px;
        box-sizing: content-box;
        margin: 3px;
        width: 25%;
        height: 250px;

    }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--header-bg);
    border: 1px solid var(--primary-50);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: var(--primary-50);
  }

/* Footer styles */
/* style for the newsletter-subscription section */
.newsletter-section{
    height: 113px;
    margin: 0 auto;
    background-color: #D3EAED;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #64656A;
}
.news-form-area{
    width: 45%;
    height: 50%;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-input{
    margin-left: 2%;
    width: 50%;
    display: flex;
    align-items: center;
}
.search-input a{
    margin-right: 5%;

}
.search-input input{
    padding: 3% 2%;
    width: 80%;
    border: none;
    border-radius: 4px;
    background: white;
    font-weight: bold;
    color: silver;

}
.news-form-area button{
    width: 30%;
    height: 90%;
    margin-right: 0.5%;
    border: 1px solid silver;
    border-radius: 4px;
    background: #19636D;
    font-weight: bold;
    color: white;

}


.footer-main {
    display: flex;
    background-color: var(--primary-60);
    color: var(--greys-20);
    padding: 64px 0;
    justify-content: space-around;
}

.socials {
    display: flex;
    gap: 20px;
    list-style: none;
}

.footer-flex {
    display: flex;
    gap: 64px;
}

.footer-flex h4 {padding-bottom: 20px;}

.footer-flex li {
    list-style: none;
    font-weight: 300;
    padding-bottom: 20px;
}

.footer-copyright {
    text-align: center;
    background-color: var(--copy);
    color: var(--primary-40);
    padding: 16px 0;
}
