* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;}

:root {
    --primary-20: #D3EAED;
    --primary-40: #49A6B2;
    --primary-50: #2594A3;
    --primary-60: #19636D;
    --secondary-20: #F9F9F3;
    --secondary-40: #E8E7CD;
    --secondary-50: #E8E7CD;
    --sponsor-bg: #EEF6F8;
    --section-a-bg: #FCFCF9;
    --white: #fff;
    --greys-20: #E0E0E1;
    --greys-30: #B2B2B5;
    --greys-50: #64656A;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: unset;
}

/* Header Styles and Button */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-20);
    color: var(--primary-60);
    padding: 16px 0;
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: unset;
}

header nav a:hover {
    padding-bottom: 3px;
    border-bottom: 4px solid var(--primary-50);
    border-radius: 4px;
}

header li a {
    color: var(--primary-50);
}

button {
    font-weight: 500;
    font-size: 16px;
    background-color: var(--white);
    color: var(--primary-50);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(25, 99, 109, 0.2);
    padding: 10px 20px;
}

header div {
    display: flex;
    gap: 10px;
}

.filled-bg-btn {
    background-color: var(--primary-50);
    color: var(--white);
}

.outlined-btn {
    border: 1px solid var(--primary-50);
    background-color: var(--primary-20);
    color: var(--primary-50);
}

/* Main Content Styling */
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 84px;
    background-color: var(--primary-60);
    gap: 10px;
}

.hero-text { padding-top: 0.8rem; }

.hero-title {
    font-weight: 800;
    font-size: 45px;
    color: var(--secondary-40);
    padding-bottom: 16px;
}

.hero-par {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    padding-bottom: 48px;
    color: var(--white);
}

.hero-img {
    max-width: 580px;
    padding: 64px 0 132px 0;
}
  
.hero-btn { padding: 14px 36px; }

/* Sponsors Styling */
#sponsors {
    display: flex;
    justify-content: space-around;
    background-color: var(--sponsor-bg);
    border-radius: 40px;
    padding: 12px 72px;
    margin: 40px 150px;
}


/* Articles Styling */
.section-a {
    display: grid;
    justify-content: center;
    background-color: var(--section-a-bg);
    border-radius: 16px;
    padding: 80px 100px;
    margin: 0 90px;
}

span.spanned {
    color: var(--primary-60);
    font-weight: 600;
}

.section-a h2 { 
    text-align: center;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: var(--primary-60);
    padding: 0 140px;
}

.section-a > p {
    text-align: center;
    color: var(--greys-50);
    padding: 16px 0 0;
}

.a-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    /* padding-top: 96px;    
    padding-top removed 'cos of padding 
    added to .art-flex-2 */
}

.art-flex {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.art-flex article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 340px;
}

.art-flex > article > img {
    max-width: 300px;
    margin: 0 auto;
}

.art-flex > article > p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 16px 0;
    color: var(--greys-50);
}

.art-flex-2 { padding-top: 260px; }

.learn-more { 
    margin: 0 auto;
    background-color: var(--section-a-bg);
    border: 1px solid var(--primary-50);
}

/* Demo Styling */
.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--sponsor-bg);
    margin-top: 96px;
    padding: 56px 0;
}

.demo h2 {
    font-size: 36px;
    line-height: 56px; 
    text-align: center;
    letter-spacing: -0.03em;
    color: var(--primary-60);
    padding-bottom: 32px;
}

.demo video {
    padding-bottom: 24px;
}

.demo-btn {
    letter-spacing: 0.02em;
    padding: 10px 36px;
    color: var(--white);
    background-color: var(--primary-50);
}

/* Testimonial style */
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 0;
    text-align: center;
}

.testimonials h2 {
    font-size: 36px;
    letter-spacing: -0.02em;
    color: var(--primary-60);
    padding-bottom: 18px;
}

.testimonials > p {
    font-weight: 300;
    line-height: 24px;
    color: var(--greys-50);
    width: 28%;
    padding-bottom: 40px;
}

.cards {
    display: flex;
    gap: 16px;
    padding-bottom: 40px;
}

.card {
    max-width: 240px;
    padding: 48px 18px;
    border-radius:8px;
    border: 0.5px solid var(--greys-20);
    box-shadow: 0px 2px 4px rgba(219, 220, 224, 0.6);
}

.card h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-60);
}

.card small {
    font-weight: 300;
    font-size: 12px;
    color: var(--greys-30);
}

.card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding-top: 20px;
    color: var(--greys-50);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--primary-20);
    border: 1px solid var(--primary-50);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--primary-50);
}

/* Footer Styling */
/* Subscribe styling */
.subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-20);
    padding: 24px 96px;
}

.subscribe p {
    font-weight: 300;
    font-size: 18px;
    color: var(--greys-50);
}

.subscribe > div {
    background-color: var(--white);
    padding: 3px 3px 3px 10px;
    border: 1px solid var(--greys-30);
    border-radius: 4px;
}

input[type=email] {
    border: none;
    padding: 10px 150px 10px 3px;
}

input[type=email]:focus,
input[type=email]:active {
    outline: none;
    border: none;
}


/* Main footer Styling */
.footer-main {
    display: flex;
    background-color: var(--primary-60);
    color: var(--greys-20);
    padding: 64px 0;
    justify-content: space-around;
}

.socials {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-top: 24px;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border: 1.5px solid var(--white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.footer-flex {
    display: flex;
    gap: 64px;
}

.footer-flex h4 {padding-bottom: 20px;}

.footer-flex li {
    list-style: none;
    font-weight: 300;
    padding-bottom: 20px;
}

.footer-copyright {
    text-align: center;
    background-color: var(--secondary-20);
    color: var(--primary-40);
    padding: 16px 0;
}
