/********************************General*****************************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --primary-20: #D3EAED;
    --primary-40: #49A6B2;
    --primary-50: #2594A3;
    --primary-60: #19636D;
    --secondary-20: #F9F9F3;
    --secondary-40: #E8E7CD;
    --secondary-50: #E8E7CD;
    --sponsor-bg: #EEF6F8;
    --section-a-bg: #FCFCF9;
    --white: #fff;
    --greys-20: #E0E0E1;
    --greys-30: #B2B2B5;
    --greys-50: #64656A;
}

img{
    width: 100%;
}
    
.pic{
    width: 430px;
    height: 410px;
    left: 201px;
    top: 307px;
}

    

/***********************************Media queries******************************************/
@media screen and (min-width: 1024px) {
    html,
    body {
        font-size: 24px;
    }

    .regpic {
        width: 210px;
        height: 205px;
        left: 100px;
        top: 154px
    }
}

@media screen and (max-width: 1024px) {
    html,
    body {
        font-size: 16px;
    }
    .regpic {
        width: 210px;
        height: 205px;
        left: 100px;
        top: 154px
    }
}

@media screen and (max-width: 600px) {
    html,
    body {
        font-size: 12px;
    }
    .regpic {
        width: 210px;
        height: 205px;
        left: 100px;
        top: 154px
    }
}

/*******************************************Navigation bar*****************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: var(--header-bg);
}
    
.logo {
    cursor: pointer;
}
    
.nav__links a,
.overlay__content a {
    font-weight: 400;
    font-size: 20px;
    color: var(--primary-50);
    text-decoration: none;
}

a {color: unset;}

.nav__links {
    list-style: none;
    display: flex;
}
    
.nav__links li {
    padding: 0px 20px;
}
    
.nav__links li a {
    transition: color 0.3s ease 0s;
}
    
.nav__links li a:hover {
    color: #0088a9;
}
    
.cta {
    font-weight: 500;
    text-decoration: none;  
    color: var(--primary-60);
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    margin: 10px;
    border: 1px solid #2594A3;
    filter: drop-shadow(0px 4px 8px rgba(25, 75, 109, 0.2));
    border-radius: 4px;
}
    
.cta:hover {
    color: var(--white);
    background-color: rgba(0, 136, 169, 0.8);
}
    
/***********************Mobile Nav********************************/
    
.menu {
    display: none;
}
    
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay #icon{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
    
.overlay--active {
    width: 100%;
}
    
.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}
    
.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}
    
@media screen and (max-height: 450px) {
    .overlay a {
    font-size: 20px;
    }
    
    .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
    cursor: pointer; 
    }

    .regpic {
        width: 210px;
        height: 205px;
        left: 100px;
        top: 154px
    }
}
    
@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
    display: none;
    }

    .menu {
    display: initial;
    }

    .regpic {
        width: 210px;
        height: 205px;
        left: 100px;
        top: 154px
    }
}
    
/*****main body******/
body {
    display: grid;
    place-content: center;
    font-size: 14px;
}

.element {
    height: auto;
    width: clamp(80px, 50%, 300px);
    justify-self: center;
    margin: 100px;
    padding:25px;
    justify-content: space-evenly;
}
    
.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    overflow: auto;
    flex-direction: row;
}

.parent {
    font-size: 16px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.parent p {
    background: #f9f9f9;
    border: 1px solid lightgray;
    padding: 1rem;
}

/*******************Registration form************************/   
#regform{
    border: 1px solid #92CAD1;
    box-shadow: 0px 4px 8px rgba(195, 196, 203, 0.4);
    border-radius: 10px;
    width: 504px;
    height: 666px;
    left: 200px;
    padding-top: 70px;

}
form{    
    justify-content: space-evenly;
}
.regpic{
    width: 150%;
    max-width: 430px;
    height: 410px;
    right: 201px;
    top: 307px;
    padding-right: -20px;
    
}
           
#password {  
    background-image: url("https://img.icons8.com/material-outlined/20/CCCCCC/invisible.png");
    background-position: 97% center;
    background-repeat: no-repeat;

}

#password.visible {
    background-image: url("https://img.icons8.com/material-sharp/20/CCCCCC/visible.png");

}

#toggle-password {
    display: none;
}

#toggle-password + label {
    text-indent: -9999px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -32px;
    cursor: pointer;
}

.registerbtn {
    background: #2594A3;
    border-radius: 6px;  
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

input {
    padding: 20px;
    display: inline-block;
    background: #FFFFFF;
    border: 0.6px solid #64656A;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    justify-content: space-evenly;
    opacity: 0.9;
}




