<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <link rel="stylesheet" href="{% static '/css/demo.css' %}">

        <title>Homepage | exccomp</title>
        
</head>

<body>
    <header>
        <a class="logo" href="{% url 'homepage:homepage' %}">
            <img src="{% static '/images/Logo2.svg' %}"  alt="logo" class="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{% url 'homepage:homepage' %}">Home</a></li>
                <li><a href="{%url 'about_us:about' %}">About Us</a></li>
                <li><a href="">Help & Support</a></li>
                <li><a href="{% url 'contact_page:contact_us' %}">Contact Us</a></li>
            </ul>
        </nav>
        <div>
            <h4>Hello, {{request.user}}</h4>
            <button class="filled-bg-btn"><a href="{% url 'accounts:register' %}">Register</a></button>
            <button class="outlined-btn"><a href="{% url 'accounts:login' %}">Log in</a></button>
            <button class="filled-bg-btn"><a href="{% url 'accounts:logout' %}">Logout</a></button>
        </div>
    </header>

    <main>
         <div class="parent"></div>
        <section class="container">
            <div class="element" id="welcome">
                <h1>Welcome to Exc<span style="color:#2594A3;">Comp</span></h1><br><br>
                <h2>Compare and duplicate files with ease</h2><br>
                <p>In a few quick and easy steps, browse through <br> options and get file duplicates without formulas.</p><br>
                <p>Start comparing your files today.</p><br>
                <p>Best of all? It's free</p>
            </div>              
            <div class="element" id="videos">
                <video poster="/logo1.png" controls class="video">
                    Your browser does not support HTML video.
                </video>
                <div id="play" class="playpause"></div>
            </div>    
        </section>  
        <div class="parent"></div>       
        <div style="background-color:#F9F9F3; text-align:center; padding: 30px;" >
            <button id="checkfile">Check your file below</button>
        </div>
        <section class="FlexContainer" id="compare">
            <div class="drop-zone" id="drop">
                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                <input type="file" name="myFile" class="drop-zone__input" accept=".xls,.xlsx,.csv">
            </div>
            <div class="drop-zone"></div>
        </section>    
            <section style="background-color:#F9F9F3;"> 
                <div style="padding-left: 60px; padding-right: 60px; display: flex;   justify-content: space-around; ">
                    <div>
                        <button id="upload">Upload Excel/CSV file</button>  
                    </div>
                    <img src="/Vectorundo.jpg" alt="">
                    <img src="/Vectorredo.jpg" alt="">
                    <button id="clear">Clear</button>
                    <div style="text-align: right;">
                        <button id="later">Save For Later </button>
                    </div>
                </div>               
                <div style="  padding-left: 130px; padding-top: 30px; padding-right: 130px; display: flex;
                justify-content: space-between;">
                    <button id="download">Save To Download</button> 
                    <p><a style="color: #E0E0E1;" href="http://">View Saved Items</a></p>
                </div>
                <div style="text-align:center; padding: 30px;">
                    <button id="check">Check Duplicates</button>
                </div>
            </section>
        </section>
        <div class="parent"></div>       
        <section class="main">
            <div>
                <h1>How to compare excel/csv files for free</h1><br><br>
                <small>Upload</small><br><br>
                <h2>Upload file format to the software</h2><br>
                <p>Click on the “Upload Excel/CSV” <br> button to access and upload excel/CSV files directly from <br> your device.</p><br>
                <div  id="videos">
                    <video poster="/logo1.png" controls class="video">
                        Your browser does not support HTML video.
                    </video>
                    <div id="play" class="playpause"></div>
                </div><br>
            </div>
            <div class="right">
                <small>Check duplicate</small><br><br>
                <h2>Choose function</h2><br>
                <p>From an array of functions and option, choose an opton that fits your task at hand.</p><br>
                <div  id="videos">
                    <video poster="/logo1.png" controls class="video">
                        Your browser does not support HTML video.
                    </video>
                    <div id="play" class="playpause"></div>
                </div><br>
            </div>
            <div>
                <small>Save</small><br><br>
                <h2>Save to Continue action later or download file</h2><br>
                <p>After completing your task, save your progress to continue later or to download your new file.</p><br>
                <div  id="videos">
                    <video poster="/logo1.png" controls class="video">
                        <source src="http://e14aaeb709f7cde1ae68-a1d0a134a31b545b257b15f8a8ba5726.r70.cf3.rackcdn.com/projects/31432/1427815464209-bf74131a7528d0ea5ce8c0710f530bb5/1280x720.mp4" type="video/mp4" />
                        Your browser does not support HTML video.
                    </video>
                    <div id="play" class="playpause"></div>
                </div><br>
            </div>
        </section>  
    
    <footer>
        <section class="subscribe">
            <p>Get latest deals and newsletters directly to your inbox.</p>
            <div>
                <label for="email">
                    <span class="sr-only" hidden>Email</span>    
                    <input type="email" name="email" id="email" placeholder="Email address">
                </label>
                <button class="filled-bg-btn">Subscribe</button>
            </div>
        </section>

        <section class="footer-main">
            <div>
                <img src="{% static '/images/Logo-footer.svg' %}" alt="logo" class="logo footer-logo">
                <ul class="socials">
                    <li>
                        <span class="fa fa-brands fa-instagram" aria-hidden="true"></span>
                        <span class="sr-only">Instagram</span>
                    </li>
                    <li>
                        <span class="fa fa-brands fa-facebook-f" aria-hidden="true"></span>
                        <span class="sr-only">Facebook</span>
                    </li>
                    <li>
                        <span class="fa fa-solid fa-envelope" aria-hidden="true"></span>
                        <span class="sr-only">Email</span>
                    </li>
                </ul>
            </div>

            <div class="footer-flex">
                <div class="footer-item">
                    <h4>Product</h4>
                    <ul>
                        <li>Insights & Actions</li>
                        <li>Integrations</li>
                        <li>Pricing</li>
                    </ul>
                </div>
                <div class="footer-item">
                    <h4>Policy</h4>
                    <ul>
                        <li>Terms of Use</li>
                        <li>Privacy Policy</li>
                        <li>Support Level Policy</li>
                        <li>Service Level Agreement</li>
                    </ul>
                </div>
                <div class="footer-item">
                    <h4>About</h4>
                    <ul>
                        <li>About us</li>
                        <li>Blog</li>
                        <li>Careers</li>
                        <li>Customers</li>
                    </ul>
                </div>
                <div class="footer-item">
                    <h4>Support</h4>
                    <ul>
                        <li>Contact us</li>
                        <li>Help Center</li>
                        <li>Conversational Feedback</li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="footer-copyright">
            <p>&copy; 2022 Zuri. All rights reserved.</p>
        </div>
    </footer>
    <script>
        document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
            const dropZoneElement = inputElement.closest(".drop-zone");
        
            dropZoneElement.addEventListener("click", (e) => {
            inputElement.click();
            });
        
            inputElement.addEventListener("change", (e) => {
            if (inputElement.files.length) {
                updateThumbnail(dropZoneElement, inputElement.files[0]);
            }
            });
        
            dropZoneElement.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZoneElement.classList.add("drop-zone--over");
            });
        
            ["dragleave", "dragend"].forEach((type) => {
            dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
            });
            });
        
            dropZoneElement.addEventListener("drop", (e) => {
            e.preventDefault();
        
            if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
            }
        
            dropZoneElement.classList.remove("drop-zone--over");
            });
        });
        
        /**
         * Updates the thumbnail on a drop zone element.
         *
         * @param {HTMLElement} dropZoneElement
         * @param {File} file
         */
        function updateThumbnail(dropZoneElement, file) {
            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");
        
            // First time - remove the prompt
            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
            dropZoneElement.querySelector(".drop-zone__prompt").remove();
            }
        
            // First time - there is no thumbnail element, so lets create it
            if (!thumbnailElement) {
            thumbnailElement = document.createElement("div");
            thumbnailElement.classList.add("drop-zone__thumb");
            dropZoneElement.appendChild(thumbnailElement);
            }
        
            thumbnailElement.dataset.label = file.name;
        
            // Show thumbnail for image files
            if (file.type.startsWith("image/")) {
            const reader = new FileReader();
        
            reader.readAsDataURL(file);
            reader.onload = () => {
                thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
            };
            } else {
            thumbnailElement.style.backgroundImage = null;
            }
        }
    </script>
</body>
</html>
