<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <link rel="stylesheet" href="{% static '/css/demo.css' %}">

        <title>Homepage | exccomp</title>
        
</head>

<body>
    <header>
        <a class="logo" href="{% url 'homepage:homepage' %}">
            <img src="{% static '/images/Logo2.svg' %}"  alt="logo" class="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{% url 'homepage:homepage' %}">Home</a></li>
                <li><a href="{%url 'about_us:about' %}">About Us</a></li>
                <li><a href="">Help & Support</a></li>
                <li><a href="{% url 'contact_page:contact_us' %}">Contact Us</a></li>
            </ul>
        </nav>
        <div>
            <button class="filled-bg-btn"><a href="{% url 'accounts:register' %}">Register</a></button>
            <button class="outlined-btn"><a href="{% url 'accounts:login' %}">Log in</a></button>
        </div>
    </header>

    <main>
        rendered
    </main>

    
    <footer>
        <section class="subscribe">
            <p>Get latest deals and newsletters directly to your inbox.</p>
            <div>
                <label for="email">
                    <span class="sr-only" hidden>Email</span>    
                    <input type="email" name="email" id="email" placeholder="Email address">
                </label>
                <button class="filled-bg-btn">Subscribe</button>
            </div>
        </section>

        <section class="footer-main">
            <div>
                <img src="{% static '/images/Logo-footer.svg' %}" alt="logo" class="logo footer-logo">
                <ul class="socials">
                    <li>
                        <span class="fa fa-brands fa-instagram" aria-hidden="true"></span>
                        <span class="sr-only">Instagram</span>
                    </li>
                    <li>
                        <span class="fa fa-brands fa-facebook-f" aria-hidden="true"></span>
                        <span class="sr-only">Facebook</span>
                    </li>
                    <li>
                        <span class="fa fa-solid fa-envelope" aria-hidden="true"></span>
                        <span class="sr-only">Email</span>
                    </li>
                </ul>
            </div>

            <div class="footer-flex">
                <div class="footer-item">
                    <h4>Product</h4>
                    <ul>
                        <li>Insights & Actions</li>
                        <li>Integrations</li>
                        <li>Pricing</li>
                    </ul>
                </div>
                <div class="footer-item">
                    <h4>Policy</h4>
                    <ul>
                        <li>Terms of Use</li>
                        <li>Privacy Policy</li>
                        <li>Support Level Policy</li>
                        <li>Service Level Agreement</li>
                    </ul>
                </div>
                <div class="footer-item">
                    <h4>About</h4>
                    <ul>
                        <li>About us</li>
                        <li>Blog</li>
                        <li>Careers</li>
                        <li>Customers</li>
                    </ul>
                </div>
                <div class="footer-item">
                    <h4>Support</h4>
                    <ul>
                        <li>Contact us</li>
                        <li>Help Center</li>
                        <li>Conversational Feedback</li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="footer-copyright">
            <p>&copy; 2022 Zuri. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>