* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;}

:root {
    --primary-20: #D3EAED;
    --primary-40: #49A6B2;
    --primary-50: #2594A3;
    --primary-60: #19636D;
    --secondary-20: #F9F9F3;
    --secondary-40: #E8E7CD;
    --secondary-50: #E8E7CD;
    --sponsor-bg: #EEF6F8;
    --section-a-bg: #FCFCF9;
    --white: #fff;
    --greys-20: #E0E0E1;
    --greys-30: #B2B2B5;
    --greys-50: #64656A;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: unset;
}

/* Header Styles and Button */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-20);
    color: var(--primary-60);
    padding: 16px 0;
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: unset;
}

header nav a:hover {
    padding-bottom: 3px;
    border-bottom: 4px solid var(--primary-50);
    border-radius: 4px;
}

header li a {
    color: var(--primary-50);
}

button {
    font-weight: 500;
    font-size: 16px;
    background-color: var(--white);
    color: var(--primary-50);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(25, 99, 109, 0.2);
    padding: 10px 20px;
}

header div {
    display: flex;
    gap: 10px;
}

.filled-bg-btn {
    background-color: var(--primary-50);
    color: var(--white);
}

.outlined-btn {
    border: 1px solid var(--primary-50);
    background-color: var(--primary-20);
    color: var(--primary-50);
}


#contactus-wrapper{
    height: 922px;
    width: 100%;
    background-color: var(--copy);
}
.main-section{
    height: 100%;
    width: 87%;
    margin: 0 auto;
    background: url(../images/bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style for the box for input fields, messages and company message info */
.addressee-addresser-info{
    height: 83%;
    width: 90%;
    border: 1px solid #7e7f83;
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 4px 8px #92CAD1;
    background-color: #FFFFFF;
}
.addressee-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    align-items: left;
    padding: 5% 1%;
    margin-left: 5%;
}
.addressee-info p{
    margin-bottom: 4%;
}
.addressee-info input{
    padding: 2% 3%;
    width: 90%;
    border: 1px solid #E0E0E1;
    border-radius: 6px;
    margin-top: 1%;
    margin-bottom: 3%;
}
.addressee-info textarea{
    padding: 2% 3%;
    width: 90%;
    border: 1px solid silver;
    border-radius: 4px;
    margin-top: 1%;
}
.addressee-info button{
    padding: 16px 32px;
    width: 90%;
    border: 1px solid silver;
    border-radius: 4px;
    background: #2594A3;
    font-weight: bold;
    color: white;

}
.addresser-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2%;
    margin-left: 5%;
}
.addresser-info img{
    margin-bottom: 5%;
}
.addresser-info p{
    color: #2594A3;
    font-size: 20px;
    display: flex;
    gap: 3%;
}

/* Footer Styling */
/* Subscribe styling */
.subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-20);
    padding: 24px 96px;
}

.subscribe p {
    font-weight: 300;
    font-size: 18px;
    color: var(--greys-50);
}

.subscribe > div {
    background-color: var(--white);
    padding: 3px 3px 3px 10px;
    border: 1px solid var(--greys-30);
    border-radius: 4px;
}

input[type=email] {
    border: none;
    padding: 10px 150px 10px 3px;
}

/* input[type=email]:focus,
input[type=email]:active {
    outline: none;
    border: none;
} */


/* Main footer Styling */
.footer-main {
    display: flex;
    background-color: var(--primary-60);
    color: var(--greys-20);
    padding: 64px 0;
    justify-content: space-around;
}

.socials {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-top: 24px;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border: 1.5px solid var(--white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.footer-flex {
    display: flex;
    gap: 64px;
}

.footer-flex h4 {padding-bottom: 20px;}

.footer-flex li {
    list-style: none;
    font-weight: 300;
    padding-bottom: 20px;
}

.footer-copyright {
    text-align: center;
    background-color: var(--secondary-20);
    color: var(--primary-40);
    padding: 16px 0;
}
