* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;}

:root {
    --primary-20: #D3EAED;
    --primary-40: #49A6B2;
    --primary-50: #2594A3;
    --primary-60: #19636D;
    --secondary-20: #F9F9F3;
    --secondary-40: #E8E7CD;
    --secondary-50: #E8E7CD;
    --sponsor-bg: #EEF6F8;
    --section-a-bg: #FCFCF9;
    --white: #fff;
    --greys-20: #E0E0E1;
    --greys-30: #B2B2B5;
    --greys-50: #64656A;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: unset;
}

/* Header Styles and Button */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-20);
    color: var(--primary-60);
    padding: 16px 0;
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: unset;
}

header nav a:hover {
    padding-bottom: 3px;
    border-bottom: 4px solid var(--primary-50);
    border-radius: 4px;
}

header li a {
    color: var(--primary-50);
}

button {
    font-weight: 500;
    font-size: 16px;
    background-color: var(--white);
    color: var(--primary-50);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(25, 99, 109, 0.2);
    padding: 10px 20px;
}

header div {
    display: flex;
    gap: 10px;
}

.filled-bg-btn {
    background-color: var(--primary-50);
    color: var(--white);
}

.outlined-btn {
    border: 1px solid var(--primary-50);
    background-color: var(--primary-20);
    color: var(--primary-50);
}
/* main div */
a{
    color: white;
    text-decoration: none;
}
i{
    display: inline;
    color: gray;
}
#aboutus-wrapper{
    height: 1896px;
    display: block;
    margin: 0;
    padding: 0;
    background-color: white;
}
.about-us{
    height: 25%;
    width: 87%;
    margin: 5% auto 0 auto;
    display: flex;
    align-items: center;
}
.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin: 15% 3% 15% 6%;
    padding: 5%;
    text-align: left;
    color: #2594A3;
}
.text h1{
    font-size: 48px;
    font-weight: 800;
}
.text p{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.about-us .button{
    background-color: #49A6B2;
    border-radius: 5px; 
    height: 56px;
    width: 171px;
    margin-top: 6%;
    left: 0px;
    top: 232px;
    border-radius: 4px;
    padding: 16px, 32px, 16px, 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-left: 0;
    box-shadow: 0px 1px 3px #64656A;
}
.about-us .button:hover{
    background-color: #19636D;
}
.about-image{
    height: 300.7391662597656px;
    width: 451.58343505859375px;
    left: 585.896484375px;
    top: 53.83154296875px;
    border-radius: 0px;

}
.features{

    margin: auto;
    display: flex;
    align-items: center;
    background-color: #F9F9F3;
    height: 592px;
    width: 87%;
    left: 96px;
    top: 624px;
    border-radius: 16px;

}
.features-image{
    height: 80%;
    width: 40%;
    margin:auto;
}
.features-text{
    width: 505px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: auto;
    color: #2594A3;
}
.features-text h1{
    font-size: 36px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;

}
.features-text .button{
    height: 56px;
    width: 169px;
    margin-top: 6%;
    left: 0px;
    top: 488px;
    border-radius: 4px;
    padding: 16px, 32px, 16px, 32px;
    background-color: #49A6B2;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-left: 0;
    box-shadow: 0px 1px 3px #64656A;
}
.features-text .button:hover{
    background-color: #19636D;
}

.features-text li{
list-style:disc;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
margin-left: 48px;

}
.team-clients-container{
    height: 38%;
    width: 93%;
    margin: 4% 0 0 auto;
    display: flex;
    flex-direction: column;
}
.our-team{
    height: 50%;
    display: flex;
    margin-bottom: 70px;
}
.team-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 3%;
    color: #19636D;
}
.team-text h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: black;

}
.team-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;

}
.team-display{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.landing-div{
    height: 149px;
    border-radius: 0px;
    background-color: #D3EAED;
}
.resting-div{
    height: 60%;
    margin-top: -10%;
    display: flex;
    justify-content: right;
    gap: 3%;

}
.resting-div div{
    width: 30%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: white;
    box-shadow: 0px 2px 2px #19636D;
}
aside p{
    color: #19636D;
    font-size: 20px;
    font-weight: bold;
}
u{
    font-size: 24px;
    color: #19636D;
}
.team-clients-container i{
    color: gray;
    font-size: 60px;
}
em{
    font-size: 60px;
    margin-left: 24px;
    color: #19636D;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 20%;
}
.our-clients{
    height: 50%;
    width: 100%;
    display: flex;
}
.clients-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 3%;
    color: #19636D;
}
.clients-text h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: black;

}
.clients-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;

}
.clients-display{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.clients-landing-div{
    height: 149px;
    background-color: #D3EAED;
}
.clients-resting-div{
    height: 70%;
    margin-top: -10%;
    display: flex;
    justify-content: justify;
    gap: 3%;
}
/* Footer Styling */
/* Subscribe styling */
.subscribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-20);
    padding: 24px 96px;
}

.subscribe p {
    font-weight: 300;
    font-size: 18px;
    color: var(--greys-50);
}

.subscribe > div {
    background-color: var(--white);
    padding: 3px 3px 3px 10px;
    border: 1px solid var(--greys-30);
    border-radius: 4px;
}

input[type=email] {
    border: none;
    padding: 10px 150px 10px 3px;
}

/* input[type=email]:focus,
input[type=email]:active {
    outline: none;
    border: none;
} */


/* Main footer Styling */
.footer-main {
    display: flex;
    background-color: var(--primary-60);
    color: var(--greys-20);
    padding: 64px 0;
    justify-content: space-around;
}

.socials {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-top: 24px;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border: 1.5px solid var(--white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.footer-flex {
    display: flex;
    gap: 64px;
}

.footer-flex h4 {padding-bottom: 20px;}

.footer-flex li {
    list-style: none;
    font-weight: 300;
    padding-bottom: 20px;
}

.footer-copyright {
    text-align: center;
    background-color: var(--secondary-20);
    color: var(--primary-40);
    padding: 16px 0;
}
